body {
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header, footer {
 width: 100%;
 padding: 10px;
 background: #adff2f;;
 color: black;
 margin: 0px;
}

footer {
  position: absolute;
  bottom: 0px;
}
 
table {
  border-collapse: collapse;
}

table th {
  background-color: #adff2f;;
  padding: 10px 20px;
}
table td {
  background-color: #fff3b8;
  padding: 10px 20px;
}

li {
  list-style: none;
  font-size: 15px;
}

table, th, td {
  border: 1px solid;
}

th, td {
  text-align: center;
}

a {
  text-decoration: none;
}

h3 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

textarea {
  vertical-align: middle;
  width: 95%;
  font-size: 15px;
  padding: 5px;
}

textarea {
  height: 150px;
}

.notice {
  background-color: #fff3b8;
  width: 400px;
  text-align: center;
  margin: 15px 0;
  padding: 10px;
}

